@mixin flexCenter($flex-direction) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $flex-direction;
}

@mixin background($background) {
    background: $background;
    background-position: center;
    background-size: cover;
    background-repeat: repeat;
    background-attachment: fixed;
    // min-width: 100vh;
}